{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<style>
    body{
        background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(179,54,227,1) 0%, rgba(189,240,247,1) 0%, rgba(33,194,227,1) 99%, rgba(131,97,234,1) 100%); 

    }
</style>
<section class='text-center container'>
    <h2>Student Dictionary</h2>
    <p>Enter any word to get the phonetics, definition and an example for the word</p>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input class="btn btn-danger" type="submit" value="Submit">
    </form><br>
    <div class="content-section p-0 mt-5">
 {% if  i %}
        <div class="custom-header">
            <h2>{{i}}</h2>
            <h6>{{ph}}</h6>
            
        </div>

        <hr class="p-0 m-0">

        <p class="float-left">
            <h4>Definition:{{defi}}</h4>
          
        </p>
      

    </div>
    {% else %}
    <h2>Enter any word</h2>
    {% endif %}
</section>
{% endblock content %}